<!DOCTYPE html>
<html>
<head>
	<title>เตรียมวัดค่า SpO2</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!--<link rel="stylesheet" href="./css/main.css">-->
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
		*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: 'Kanit', sans-serif;
		}
		body{
			height: 100vh;
			width: 100%;
			background-image: linear-gradient(130deg,#1abc9c,#16a085);
			display: flex;
			justify-content: center;
			align-items: center;
		}
		form.contrainer{
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		h1{
			margin: 20px;
			color: #fff;
			font-weight: 500;
		}
		.abc{
			color: #fff;
			margin: 20px;
			font-size: large;
		}
	</style>
</head>
<body>
	<div class="contrainer">
		<div>
			<h1>กรุณาวัดระดับออกซิเจนในเลือด </h1>
			<h2>ดังภาพที่แสดง และทำการกดปุ่มสีขาวบนเครื่องวัดเพื่อเปิดใช้งาน</h2>
			<center>
				<img src="https://backend.central.co.th/media/catalog/product/e/d/ed69e1a8ac5b18a09dd7d4aaf08a4a3592936ba4_mkp0996609dummy.jpg?impolicy=resize&width=553" height="200" width="200"/>
				<div class="abc">
					<a href="/waiting">ถัดไป</a>
				</div>
			</center>
		</div>
	</div>
</body>
</html>